@using UmotaRedEye.Models.Dto
@model KullaniciEditViewModel

@if (Model != null && Model.kullanici != null)
{
    @using (Html.BeginForm("AddKullanici", "Kullanici", FormMethod.Post))
    {
        <h4>Yeni Kullanıcı Ekle</h4>
     
        <div class="form-group">
            <label for="exampleInputEmail1">Ad</label>
            @Html.TextBoxFor(m => m.kullanici.Adi, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Soyad</label>
            @Html.TextBoxFor(m => m.kullanici.Soyadi, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            @Html.TextBoxFor(m => m.kullanici.Email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Şifre</label>
            @Html.TextBoxFor(m => m.kullanici.Sifre, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-primary">Kaydet</button>
    }
}
