@using UmotaRedEye.Models.Dto
@model LoginRequestViewModel

@if (Model != null && !Model.IsSuccess)
{
    <div>
        @Model.ErrorMessage
    </div>
}

@using (Html.BeginForm("Login","Kullanici",FormMethod.Post))
{
    <div class="form-group">
        <div>
            @Html.TextBoxFor(m => m.Email)
        </div>
        <div>@Html.TextBoxFor(m => m.Sifre)</div>
        <div><input type="submit" value="Giriş Yap" /></div>
    </div>
}
