@using UmotaRedEye.Models.Dto
@model LoginRequestViewModel

@if (Model != null && !Model.IsSuccess)
{
    <div class="alert alert-danger" role="alert">
        @Model.ErrorMessage
    </div>
}

@using (Html.BeginForm("Login","Kullanici",FormMethod.Post))
{
    <h4>Kullanıcı Girişi</h4>

    <div class="form-group">
        <label for="Email">E-posta</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="Sifre">Parola</label>
        @Html.TextBoxFor(m => m.Sifre, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Giriş</button>
}
